.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  padding: 1rem 2rem;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.profile-icon {
  color: #c7f907;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #e4ffa1;
  }
}
